<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>745369006375-ugk1k02nknu07914d7l92noj9ojo7ru5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.745369006375-ugk1k02nknu07914d7l92noj9ojo7ru5</string>
	<key>API_KEY</key>
	<string>AIzaSyD1I34H9y5s7MV1xvp3GpMCi77RYIC5jxA</string>
	<key>GCM_SENDER_ID</key>
	<string>745369006375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sikacoinapp.sika</string>
	<key>PROJECT_ID</key>
	<string>sika-5842d</string>
	<key>STORAGE_BUCKET</key>
	<string>sika-5842d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745369006375:ios:fcf36d7a7010d271bfb902</string>
	<key>DATABASE_URL</key>
	<string>https://sika-5842d.firebaseio.com</string>
</dict>
</plist>